$veryDarkBlue_main :  hsl(217, 54%, 11%);
$veryDarkBlue_bg : hsl(216, 50%, 16%);
$veryDarkBlue_line: hsl(215, 32%, 27%);
$white: hsl(0, 0%, 100%);
$cyan: hsl(178, 100%, 50%);
$SoftBlue: hsl(215, 51%, 70%)